node-red/nodered_dashboard_DT.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb0c9213.a7b138","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dfd0479.43018b8","type":"ui_tab","name":"Digital Twin Dashboard of smartDTsensor","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9230ab01.934e88","type":"ui_group","name":"Aktueller DT Status","tab":"dfd0479.43018b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bc68fb2.936a88","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b0df13c8.dfa4a8","type":"ui_group","name":"Command & Control","tab":"dfd0479.43018b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"af1d6220.7e6818","type":"ui_group","name":"DT 20h Verläufe","tab":"dfd0479.43018b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"e82cc9f8.ea4fd","type":"http request","z":"f6f2187d.f17ca8","name":"Light Off","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://141.19.44.65:38443/api/2/things/lehmann:smartDTsensor/inbox/messages/backlightOff?timeout=0","tls":"","persist":false,"proxy":"","authType":"basic","x":1380,"y":520,"wires":[[]]},{"id":"c4d975e.4667b88","type":"http request","z":"f6f2187d.f17ca8","name":"Light On","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://141.19.44.65:38443/api/2/things/lehmann:smartDTsensor/inbox/messages/backlightOn?timeout=0","tls":"","persist":false,"proxy":"","authType":"basic","x":1380,"y":480,"wires":[[]]},{"id":"b5f52d3e.14962","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":980,"y":860,"wires":[["9af6a71c.e79a3"]]},{"id":"9af6a71c.e79a3","type":"http request","z":"f6f2187d.f17ca8","name":"Restart Device","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://141.19.44.65:38443/api/2/things/lehmann:smartDTsensor/inbox/messages/espRestart?timeout=0","tls":"","persist":false,"proxy":"","authType":"basic","x":1200,"y":900,"wires":[[]]},{"id":"47e5f990.44ede8","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"9230ab01.934e88","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#1605af","#3ebe27","#ca3838"],"seg1":"","seg2":"","x":610,"y":880,"wires":[]},{"id":"ab8bf109.d51cf8","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"9230ab01.934e88","order":2,"width":0,"height":0,"gtype":"gage","title":"rel. Luftfeuchtigkeit","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b5a700","#37b134","#409dc1"],"seg1":"","seg2":"","x":630,"y":960,"wires":[]},{"id":"292a7221.d97e6e","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"9230ab01.934e88","order":3,"width":0,"height":0,"gtype":"gage","title":"Luftdruck","label":"hPa","format":"{{value}}","min":"950","max":"1050","colors":["#00b500","#2bbb32","#4eb450"],"seg1":"","seg2":"","x":600,"y":1040,"wires":[]},{"id":"f9309d7c.1002f","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"9230ab01.934e88","order":4,"width":0,"height":0,"gtype":"gage","title":"Kohlenstoffdioxid","label":"ppm","format":"{{value}}","min":"400","max":"2000","colors":["#00b500","#a9bb2b","#ca3838"],"seg1":"","seg2":"","x":630,"y":1120,"wires":[]},{"id":"ddef947f.60e868","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"af1d6220.7e6818","order":5,"width":0,"height":0,"label":"Temperaturverlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":840,"wires":[[]]},{"id":"bea56297.05b548","type":"http request","z":"f6f2187d.f17ca8","name":"GET Temp","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://141.19.44.65:38443/api/2/things/lehmann:smartDTsensor/features/telemetry/properties/JoelTemp/value","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":880,"wires":[["47e5f990.44ede8","ddef947f.60e868"]]},{"id":"fdfbc12.d7d084","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"b0df13c8.dfa4a8","order":0,"width":0,"height":0,"passthru":false,"label":"Device Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":960,"y":900,"wires":[["9af6a71c.e79a3"]]},{"id":"9656aa8a.7628d8","type":"ui_switch","z":"f6f2187d.f17ca8","name":"","label":"Device Backlight","tooltip":"","group":"b0df13c8.dfa4a8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":950,"y":500,"wires":[["1dd2e401.bec114","5d781c64.f50bdc"]]},{"id":"1dd2e401.bec114","type":"switch","z":"f6f2187d.f17ca8","name":"TRUE","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":480,"wires":[["c4d975e.4667b88"]]},{"id":"5d781c64.f50bdc","type":"switch","z":"f6f2187d.f17ca8","name":"FALSE","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":520,"wires":[["e82cc9f8.ea4fd"]]},{"id":"a23fc51c.a29078","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":880,"wires":[["bea56297.05b548","9fc0028a.d4d618","735e2df5.959f04","95a659aa.da09d8"]]},{"id":"9fc0028a.d4d618","type":"http request","z":"f6f2187d.f17ca8","name":"GET Hum","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://141.19.44.65:38443/api/2/things/lehmann:smartDTsensor/features/telemetry/properties/JoelHum/value","tls":"","persist":false,"proxy":"","authType":"basic","x":340,"y":960,"wires":[["ab8bf109.d51cf8","7ef5fe8c.7c88d"]]},{"id":"735e2df5.959f04","type":"http request","z":"f6f2187d.f17ca8","name":"GET Press","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://141.19.44.65:38443/api/2/things/lehmann:smartDTsensor/features/telemetry/properties/JoelPress/value","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":1040,"wires":[["292a7221.d97e6e","96683064.889d9"]]},{"id":"95a659aa.da09d8","type":"http request","z":"f6f2187d.f17ca8","name":"GET CO2","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://141.19.44.65:38443/api/2/things/lehmann:smartDTsensor/features/telemetry/properties/JoelCO2/value","tls":"","persist":false,"proxy":"","authType":"basic","x":340,"y":1120,"wires":[["f9309d7c.1002f","5fe9b2f8.4c3bb4"]]},{"id":"7ef5fe8c.7c88d","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"af1d6220.7e6818","order":5,"width":0,"height":0,"label":"Luftfeuchtigkeitsverlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":920,"wires":[[]]},{"id":"96683064.889d9","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"af1d6220.7e6818","order":5,"width":0,"height":0,"label":"Luftdruckverlaufverlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":1000,"wires":[[]]},{"id":"5fe9b2f8.4c3bb4","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"af1d6220.7e6818","order":5,"width":0,"height":0,"label":"Kohlenstoffdioxidverlauf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":1080,"wires":[[]]}]